# --- Core API & Server ---
fastapi
uvicorn
python-multipart
pydantic
python-dotenv

# --- Authentication & Security ---
google-auth
requests
PyJWT

# --- File Processing ---
PyPDF2

# --- Database & Vector Store ---
sqlalchemy
psycopg2-binary
chromadb

# --- AI, LLMs & LangGraph ---
openai
langgraph
langchain-core
langchain-community
langchain-openai
langchain-text-splitters

# --- Local Models (Cross-Encoders) ---
sentence-transformers

# --- Tools, Math & Visualization ---
numexpr
numpy
matplotlib

# --- Web Search ---
duckduckgo-search
ddgs


# --- Background tasks ---
apscheduler